server:
  port: 8085

spring:
  application:
    name: payment-service
  datasource:
    url: jdbc:mysql://localhost:3306/payment_db?createDatabaseIfNotExist=true
    username: root
    password: Mahesh@123
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
# Razorpay Configuration
razorpay:
  key-id: rzp_test_l97jbasant0am9
  key-secret: rH2s7jk8L9mN4pQ1rS2tU3v4